body{
	margin: 0 auto;
	width: 800px;
	height: 1000px;
	border: 1px solid #999;
	box-shadow:0px 0px 5px 5px #999;
}
.resume_1{
	width: 30%;
	height: 1000px;
	background: #65A5FA;
	margin: 0 ;
	float: left;
}
.resume_1 h1{
	
	padding: 50px 70px;
	color: #eee;
}
.basic{
	float: left;
}
.basic{
	padding: 20px 8px;
	/*border: 1px solid #888;*/
	width: 65%;
	height: 150px;
	/*padding-left: 20px;*/
}

.massage h3,
.massage div{
	float: left;
}
.massage div{
	font-weight: 700;
	margin: 20px 40px 15px 20px;
}
.maddage {
	margin: 15px;
}